<?php
/**
 * Created by PhpStorm.
 * User: gianlucaporta
 * Date: 06/02/17
 * Time: 13:32
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
    <?php echo $this->getChildHtml('head') ?>
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <div class="main-container col1-layout">
            <div class="main">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
                <div class="col-main">
                    <?php echo $this->getChildHtml('global_messages') ?>
                    <?php echo $this->getChildHtml('content') ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter();
if(Mage::getStoreConfig('storelocator/general/active')==1){ ?>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: <?php echo Mage::getStoreConfig('storelocator/general/zoom'); ?>
            });
            jQuery(window).load(function() {
                var json = <?php echo Mage::getModel('storelocator/store')->getStoreJson(); ?>;

                jQuery.each(json, function(key, data) {
                    var latLng = new google.maps.LatLng(data.latitudine, data.longitudine);
                    map.setCenter(latLng);
                    var infowindow = new google.maps.InfoWindow({
                        content: ''
                    });

                    var marker = new google.maps.Marker({
                        position: latLng,
                        title: data.name
                    });

                    marker.addListener('click', function() {
                        infowindow.setContent('<div id="content-info-map">'+
                            '<div id="siteNotice">'+
                            '</div>'+
                            '<h1 id="firstHeading" class="firstHeading">' + data.name + '</h1>'+
                            '<div id="bodyContent">'+
                            '<p>'+ data.indirizzo +'</p>'+
                            '</div>'+
                            '</div>');

                        infowindow.open(map, marker);
                    });

                    marker.setMap(map);
                });
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<?php echo Mage::getStoreConfig('storelocator/general/apikey',Mage::app()->getStore()->getStoreId()); ?>&callback=initMap"></script>
<?php } ?>
</body>
</html>
